{{#if isLoaded}}
  <span class="ember-ui-pagination__meta">{{totalCount}} Items</span>
{{/if}}

<ul class="ember-ui-pagination">
  {{#each item in visibleContent}}
    {{ember-ui-pagination-item item=item}}
  {{/each}}

  {{#if canLoadMore}}
    {{ember-ui-pagination-load-more handler=this}}
  {{/if}}
</ul>