<span class="clearfix">
  <span class="pull-left">
    {{#link-to 'item' item.id}}{{item.url}}{{/link-to}}
  </span>

  <span class="pull-right">
    {{item.users}}
    {{item.counts}}
   </span>
</span>