<h1>Server Side pagination</h1>
<div class="row">
  <div class="col-md-5">
    <!--Github API starts paging with page=1 instead of 0 :( -->
    {{ember-ui-pagination
      store=store
      modelName='item'
      url='https://api.github.com/search/repositories?q=Mri'
      serverPagination=true
      page=1
    }}
  </div>
  <div class="col-md-5">
    {{outlet}}
  </div>
</div>



