<h1>Static Data</h1>
<div class="row">
  <div class="col-md-5">
    {{ember-ui-pagination
      store=store
      modelName='example'
      url='/data.csv'
      headers='id,method,url,hints,users,views'
    }}
  </div>
</div>



